<p id="notice"><%= notice %></p>

<h1>Books</h1>
<div class="row">
　<% @books.each do |book| %>
　　<div class="col-md-3">
      <div class="card img-thumbnail">
        <% if book.image.attached? %>
          <%= image_tag book.image, class: "card-img" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= book.title %></h5>
          <p class="card-text text-muted">ページ数：<%= book.number_of_pages %></p>
        </div>
        <div class="card-body">
          <%= button_to "詳細を見る", book, method: :get, class: "btn btn-outline-secondary btn-sm" =%>
        </div>
      </div>
    </div>
  <% end %>
</div>

</br>
<%= button_to "本を追加する", new_book_path, method: :get ,class: "btn btn-primary btn-sm" %> 